:root {
	/* font */
	--head-font: 'Titan One', cursive;
	--body-font: 'Indie Flower', cursive;
	/* color */
	--body-color: #e3fbf4;
	--secondary-body-color: #62a5e1;
	--tertiary-body-color: #ac8660;
	--accent-color: #63091b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: #f6f6f6;
}
/* nav */
nav {
	background-color: var(--body-color);
	width: 100vw;
	height: 120px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--head-font);
	font-size: 2rem;
	box-shadow: 0px 1px 10px #d1cfcf;
}
nav > span {
	padding: 10px;
}

.nav__logo {
	color: var(--tertiary-body-color);
	font-size: 2.75rem;
}
.nav__title {
	margin-right: 10px;
	color: var(--accent-color);
}
.nav__line {
	padding: 0;
	width: 5px;
	height: 80px;
	background-color: var(--secondary-body-color);
	border-radius: 3px;
	margin-right: auto;
	margin-block: auto;
}
.nav__about {
	cursor: pointer;
	border-radius: 20px;
	color: var(--secondary-body-color);
	transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.nav__about:hover {
	background-color: var(--secondary-body-color);
	color: var(--body-color);

	transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.nav__git {
	padding: 3px 5px;
	margin-inline: 10px 20px;
	border-radius: 16px;
	font-size: 2.75rem;
	transition: background-color 250ms ease-in-out;
}
.nav__git:hover {
	background-color: var(--secondary-body-color);

	transition: background-color 250ms ease-in-out;
}

.nav__git a {
	transition: color 250ms ease-in-out;
	color: var(--secondary-body-color);
}
.nav__git a:hover {
	transition: color 250ms ease-in-out;
	color: var(--body-color);
}

/* content */

.result--container {
	width: 100vw;
	padding: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.item {
	width: 500px;

	margin-inline: 30px;
}
.result__item {
	height: 300px;
	width: 500px;
}
.result__img {
	height: 300px;
	width: 500px;
}
.text {
	height: 350px;
	background-color: var(--body-color);
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.text__head {
	font-size: 2rem;
	color: var(--accent-color);
	font-family: var(--head-font);
}
.text__p {
	margin-top: 20px;
	font-size: 1.3rem;
	align-self: flex-start;

	font-family: var(--body-font);
}

.result__btn {
	margin-top: auto;
	font-family: var(--body-font);
	font-size: 1.25rem;
	padding: 5px;
	background-color: var(--body-color);
	color: var(--secondary-body-color);
	border: var(--secondary-body-color) 2px solid;
	transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.result__btn:hover {
	background-color: var(--secondary-body-color);
	color: var(--body-color);
	transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.result__btn:active {
	transform: scale(0.98);
}
